.grid-container {
  display: grid;
  grid-template-columns: 5fr 105fr 1fr;
  /* Trois colonnes de largeur respective */
  gap: 5px;
  align-items: center;
}

.col-print {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  color: white;
  /* height: 20%; */
  margin-top: -106px;
  /* margin-right: 145px; */
  border-radius: 10px;



}

.dropdown {
  display: flex;
  text-decoration: none;
  justify-content: center;
  /* background-color: var(--secondary-color); */
  color: white;
}

.dropdown button {
  color: white;
  text-decoration: none;
  margin-bottom: 45px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
}

.col-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-mic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-textarea {
  resize: none;
  /* Empêche le redimensionnement du textarea */
  width: 100%;
}
