<button class="btn menu-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
  aria-controls="offcanvasExample">
  <i class="bi bi-list"></i>
</button>

<div class="offcanvas offcanvas-start menu" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title menu-titre" id="offcanvasExampleLabel"><i class="bi bi-arrow-left-circle-fill me-3"
        routerLink="/home"></i>Scanneur</h1>
    <button type="button" class="btn btn-light btn-close " data-bs-dismiss="offcanvas" aria-label="Close">
      <!-- <i class="bi bi-x-lg"></i> -->
    </button>
  </div>
  <div class="offcanvas-body">
    <div>
      <h3 class="nav-link menu-texte mb-3" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#scan"
        onclick="imprimerFonction()"><i class="bi bi-printer mx-3"></i>Scan</h3>
    </div>
    <div>
      <h3 class="nav-link menu-texte  mb-3" href="#"><i class="bi bi-file-earmark-text mx-3"></i>Type de fichier</h3>
      <select name="" id="" class="mx-5 option  mb-4">
        <option value="">JPEG</option>
        <option value="">GIFF</option>
        <option value="">PNG</option>
        <option value="">JPG</option>
        <option value="">PDF</option>
        <option value="">WORD</option>
      </select>
    </div>
    <div>
      <h3 class="nav-link menu-texte  mb-3" aria-disabled="true"><i class="bi bi-file-plus mx-3"></i>Nombre de page</h3>
      <input type="number" class="mx-5 option">
    </div>

  </div>
</div>

<div class="text-input container">
  <!-- <input type="file"> -->
  <!-- <textarea name="" id="" cols="0" rows="20"> -->
  <input type="file" (change)="onFileSelected($event)" />
  <!-- <button (click)="onUpload()">Upload and Analyze</button> -->

  <div *ngIf="ocrResult">
    <h6> Result:</h6>
    <pre>{{ ocrResult }}</pre>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>
  <!-- </textarea> -->
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end container mt-3 mb-5">
  <!-- <button class="btn enregistrer me-md-2" type="submit" onclick="ajout()">Enrégistrer</button> -->
  <button class="btn enregistrer me-md-2" type="submit" onclick="listeOcr()">Enrégistrer</button>
  <button (click)="onUpload()">Effectuer OCR</button>
  <button class="btn annuler" type="button" routerLink="/home">Annuler</button>
</div>

<!-- Modal scan -->
<div class="modal fade" id="scan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Trouver d’autres appareils... </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h6>Imprimantes disponibles :</h6>
        <!-- <button (click)="printSection()">Print</button> -->

        <div>
          <div id="print-section">
          </div>
          <!-- <h1>Printer List</h1> -->
          <ul>
            <li *ngFor="let printer of printers">{{ printer }}</li>
          </ul>
          <button (click)="print()">Print</button>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn modal-annuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="onUpload()">Save changes</button>
      </div>
    </div>
  </div>
</div>
