<h1 class="text-center m-5">Bonjour M 🙂</h1>

<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 container">

  <div class="col ">
    <div class="card carte" routerLink="/speech" style="cursor: pointer;">
      <div class="card-body icon">
        <i class="bi bi-mic-fill"></i>
      </div>
      <div class="texte">
        <h3 class="card-title">Scan Voice</h3>
      </div>
    </div>
  </div>

  <div class="col ">
    <div class="card carte" routerLink="/scan" style="cursor: pointer;">
      <div class="card-body icon">
        <i class="bi bi-file-earmark-break-fill"></i>
      </div>
      <div class="texte">
        <h3 class="card-title">Numerisation DE Texte</h3>
      </div>
    </div>
  </div>

  <div class="col ">
    <div class="card carte" routerLink="/cv" style="cursor: pointer;">
      <div class="card-body icon">
        <i class="bi bi-person-lines-fill"></i>
      </div>
      <div class="texte">
        <h3 class="card-title">Modèle De CV</h3>
      </div>
    </div>
  </div>

</div>
