.container{
  margin:0 auto;
}
.card{
  border: none;
}
.carte{
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  /* display: flex; */
  width: 90%;
  /* height: 100px; */
  margin:0 auto;
}
.icon{
  margin:0 auto;
}
.texte{
  margin:0 auto;
  color:#1680FD;
}
.texte h3{
  font-size: var(--h4-font-size);
  padding: 10px;
  padding-bottom: 40px;
}
.icon i{
  color:#1680FD;
}
.carte i{
  font-size: var(--h1-font-size);
}

 /*tablette*/
 @media screen and (max-width: 991px){
  .texte h3{
    font-size: var(--p-font-size);
  }
  .carte i{
    font-size: var(--h2-font-size);
  }
 }
