<h1 class="text-center mt-5">Bonjour M</h1>
<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 container">

  <div class="col ">
    <div class="card">
      <div class="card-body carte">
        <i class="bi bi-mic-fill"></i>
        <h5 class="card-title">Scan Voice</h5>
      </div>
    </div>
  </div>

  <div class="col ">
    <div class="card">
      <div class="card-body carte">
        <h5 class="card-title">Numerisation DE Texte</h5>
      </div>
    </div>
  </div>

  <div class="col ">
    <div class="card">
      <div class="card-body carte">
        <h5 class="card-title">Modèle De CV</h5>
      </div>
    </div>
  </div>

</div>
