.icon{
  display: flex;
  /* border: 2px solid black;*/
  padding: 3px 20px;
}
.icon i{
  color: var(--secondary-color);
  font-size: var(--h3-font-size);
  cursor: pointer;

}
.icon i:hover{
  color: var(--primary-color);
}
.modeles{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap:10px;
  /* border: 2px solid black; */
}
.autre{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.103);
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.autre:hover{
  box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.397) ;
}
.autre i{
  font-size: var(--h1-font-size);
  margin:0 auto;
  /* border: 2px solid black; */
}
.espace{
  padding-bottom: 60px;
}
.cv{
  border: 1px solid black;
  background-color:white;
  width: 400px;
  display: grid;
  grid-template-columns: auto auto ;
  gap: 7px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
  padding: 5px;
}
.cv:hover{
  box-shadow: 6px 6px 3px 0px rgba(0, 0, 0, 0.397) ;
}
.infos{
  border: 1px solid black;
  /* background-color:var(--white-color); */
  /* padding: 10px; */
}
.username{
  background-color: var(--white-color);
  /* border-right: 2px solid var(--secondary-color); */
  /* width: 300px; */

}
.text-username{
  text-transform:uppercase;
  font-weight: var(--font-weight-bold);
  text-align: center;
  /* background-color: var(--secondary-color); */
  /* padding: 10px; */
}
.text-post{
  font-weight: var(--font-weight-bold);
  background-color: var(--secondary-color);
  color: var(--white-color);
  /* padding:3px 0px; */
  text-align: center;
}
.text-perso{
  font-size: 12px;
  margin-top: -16px;
  /* border: 2px solid black; */
}
.profil-infos{
  display: flex;
  justify-content: end;
  margin: 6px;
}
.image{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 1px solid black;
  /* margin:0 auto; */
}
.titre{
  text-transform:capitalize;
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
.titre-2{
  text-transform:capitalize;
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  margin-top: -10px;
  /* border: 1px solid black; */
}
 /*tablette*/
 @media screen and (max-width: 991px){
  .autre{
    height: 550px;
    width: 300px;
  }
  .cv{
    width: 300px;
  }
 }
  /* téléphone */
  @media screen and (max-width: 767px){
    .modeles{
      display: grid;
      grid-template-columns: auto;
      width: 90%;
    }
    .autre{
      height: 500px;
      /* width: 400px; */
      width: 100%;
    }
    .cv{
      width: 100%;
      /* width: 400px; */
    }
  }
