<div class="icon">
  <i class="bi bi-arrow-left-circle-fill" routerLink="/home"></i>
</div>

<div class="modeles container">
  <div>
    <div class="autre container" routerLink="/edit"  >
      <i class="bi bi-plus"></i>
    </div>
    <h3 class="mt-3 text-center">Autres</h3>
  </div>

  <div>
    <div class="cv container" routerLink="/edit-cv" >
      <div class="infos">
        <div class="username mt-3">
          <h6 class="text-username">Nom prénom</h6>
          <p class="text-post">Poste visé</p>
          <p class="ms-2 mt-1 text-perso"> <b>Âge</b> <br> 23 ans <br>
           <b>E-mail</b> <br> hello&#64;gmail.com <br>
           <b>Téléphone</b> <br> 7* *** ** <br>
           <b>Adresse</b> <br> Dakar,Sénégal <br>
           <b>Langue</b> <br> Anglais, Français <br>
           <b>Permis</b> <br> B + Véhicule <br>
          </p>
          <p class="ms-2 titre-2">compétences</p>
          <p class="ms-2 text-perso">
            😶 Logiciel 1 <br>
            😶 Logiciel 1 <br>
            😶 Logiciel 1 <br>
          </p>
          <p class="ms-1 titre-2">centres d'intérêt</p>
          <p class="ms-2 text-perso">
            Voyage <br>
            Sport <br>
            Musique
          </p>
        </div>
      </div>

      <div class="">
        <div class="profil-infos">
          <img src="../../../assets/images/profil.jpg" class="image" alt="">
        </div>
        <div class="text-infos">
          <p class="titre">éducation</p>
          <p  class="text-perso"> <b>L'intitulé du diplôme </b> <br>Nom de l'établissement <br> Nom de l'établissement  <br> Ville <br> 2020 - 2022</p>
          <p class="text-perso"> <b>L'intitulé du diplôme </b> <br>Nom de l'établissement <br> Nom de l'établissement  <br> Ville <br> 2017 - 2020</p>

          <p class="titre-2">expériences professionnelles</p>
          <p class="text-perso"> <b>Nom de l'entreprise</b><br>Poste occupé<br>Ville<br>Juillet 2022 - actuel<br>Mettez ici une description de vos expériences.<br>Utilisez des noms pour décrire les tâches.<br>Par exemple. : création, développement, etc.. </p>

        </div>
      </div>

    </div>
    <h3 class="mt-3 text-center">Modèle pour CV</h3>
  </div>

</div>

<footer class="espace"></footer>
