<div class="text-input container mt-3">
  <!-- <input type="text"> -->
  <textarea name="" id="" cols="0" rows="20"></textarea>
</div>
<!-- <div class="button-inscrire container">
  <button class="enregistrer me-3">Télécharger</button>
  <button class="annuler" routerLink="/cv">Annuler</button>
</div> -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end container">
  <button class="btn enregistrer me-md-2" type="button">Télécharger</button>
  <button class="btn annuler" type="button" routerLink="/cv">Annuler</button>
</div>
