.text-input textarea{
  width: 100%;
  padding: 7px;
}
/* .button-inscrire{
  display: flex;
  padding:10px;
} */
.enregistrer{
  /* margin:0 auto; */
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-right: none;
  border-bottom: none;
  background-color: var(--white-color);
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  padding: 2px 20px;
  border-radius:var(--border-radius-large);
  box-shadow: 4px 4px 2px 0px var(--secondary-color);
  font-size: var(--btn-font-size);
}
.enregistrer:hover{
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.annuler{
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-right: none;
  border-bottom: none;
  font-weight: var(--font-weight-bold);
  padding: 2px 20px;
  border-radius:var(--border-radius-large);
  box-shadow: 4px 4px 2px 0px var(--secondary-color);
  font-size: var(--btn-font-size);
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.annuler:hover{
  background-color: var(--white-color);
  color: var(--secondary-color);
}
