<!-- fotgot password -->
<div class="card mb-3  container">
  <div class="border-top"></div>
  <form (ngSubmit)=" resetPasswordFonction()">
    <div class="row g-0 carte-connexion">

      <h2 class="text-inscription"> Réinitialiser votre mot de passe</h2>

      <!-- <div class="col-md-5 image-login">
      <img src="../../../assets/images/login.png" class="img-fluid " alt="...">
    </div> -->

      <div class="col-md-7">
        <div class="card-body">

          <div class="espace"></div>

          <!-- <div class="champs-input">
            <div class="champs-de-saisir">
              <h5 class="card-title">Email :</h5>
            </div>
            <div class="input">
              <input type="email" placeholder="exemple@gmail.com" name="emailCon" [(ngModel)]="emailCon"
                (input)="verifEmailConFonction()" required>
              <p (click)="afficherFrmConnexion()">Connexion</p>
            </div>
          </div> -->

          <div class="champs-input">
          <div class="champs-de-saisir">
            <h5 class="card-title">Confirmation de Password :</h5>
          </div>
          <div class="input">
            <input type="password" placeholder="**********" name="passwordCon" [(ngModel)]="passwordCon"
              (input)="verifPasswordConFonction()" required >
          </div>
        </div>

          <div class="button-inscrire">
            <button class="inscrire" type="submit">Valider</button>
          </div>

          <!-- <div class="text-inscrire">
          <p class="text-question">Vous n'avez pas de un compte ?</p> <br>
          <h5 class="text-connect" (click)="afficherFrmForgot()">Inscrivez-vous</h5>
        </div> -->

        </div>

      </div>

      <div class="col-md-5 image-login">
        <img src="../../../assets/images/Forgot.png" class="img-fluid " alt="...">
      </div>

    </div>
  </form>
</div>
